<div class="d-flex justify-content-between">
  <h1>Items</h1>
  <div class="d-flex align-items-center">

    <div class="dropdown me-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filters
      </button>
      <div class="dropdown-menu">
        XD
      </div>
    </div>

    <%#= select_tag(:category_i, options_for_select(categories_options, [params{category_i}]), class:"btn btn-secondary me-2") %>
    <% if user_signed_in? %>
      <%= link_to "New item", new_item_path, class:"btn btn-primary" %>
    <% else %>
      <%= link_to "New item", new_user_session_path, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
  <% end %>
</div>