<div class="d-flex justify-content-between">
  <h1>Items</h1>
  <div class="d-flex align-items-center">
    <% if user_signed_in? %>
      <%= link_to "New item", new_item_path, class:"btn btn-primary" %>
    <% else %>
      <%= link_to "New item", new_user_session_path, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
  <% end %>
</div>