<div class="alert alert-secondary alert-dismissible fade show mt-4" role="alert">
  <%= notice or alert %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>